
tab[faviconized="true"] .tab-text {
   display: none !important;
}

.tabbrowser-tabs tab[faviconized="true"] {
   min-width: 36px !important;
   max-width: 52px !important;
}

.tabbrowser-tabs[closebuttons="noclose"] tab[faviconized="true"],
.tabbrowser-tabs[closebuttons="activetab"] tab[faviconized="true"][selected="false"],
.tabbrowser-tabs[favhideclose="true"] tab[faviconized="true"] {
   max-width: 36px !important;
}

.tabbrowser-tabs[favhideclose="true"] tab[faviconized="true"] .tab-close-button {
   display: none !important;
}

