
tab[faviconized="true"] .tab-text,
tab[faviconized="true"] .tab-text-stack * {
   margin: 0px;
   padding: 0px;
   max-width: 0px;
   display: none;
}

.tabbrowser-tabs tab[faviconized="true"][fadein="true"] {
   min-width: 34px !important;
   max-width: 50px !important;
}

.tabbrowser-tabs tab[faviconized="true"][fadein="true"] .tab-icon-image  {
   margin-left: 0px;
}

.tabbrowser-tabs tab[faviconized="true"][fadein="true"]:not([busy="true"]):not([progress="true"]) .tab-icon-image  {
   display: inline;
}

.tabbrowser-tabs tab[faviconized="true"] .tab-throbber,
.tabbrowser-tabs tab[faviconized="true"] .tab-icon-image  {
   -moz-margin-end: 0px;
}

.tabbrowser-tabs[closebuttons="never"] tab[faviconized="true"][fadein="true"],
.tabbrowser-tabs[closebuttons="activetab"] tab[faviconized="true"][fadein="true"]:not([selected="true"]),
.tabbrowser-tabs[favhideclose="true"] tab[faviconized="true"][fadein="true"] {
   max-width: 34px !important;
}

.tabbrowser-tabs[favhideclose="true"] tab[faviconized="true"] .tab-close-button {
   display: none !important;
}

